.app {
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #ecf0f1;
}

body.react-confirm-alert-body-element {
    overflow: hidden;
}

.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--color-100);
    opacity: 0.99;
}

.react-confirm-alert-body {
    width: 20rem;
    height: 3rem;
    padding: 1rem;

    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 11rem);

    color: var(--color-80);
    font-size: 0.75rem;
    font-weight: 900;

    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.5rem;
}

.react-confirm-alert-button-group {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.85rem;
}

.react-confirm-alert-button-group > button {
    width: auto;
    height: auto;

    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;

    color: white;
    font-size: 0.5rem;
    font-weight: 700;

    background: var(--color-80);
    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
    outline: none;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
